@import "../../style/variables";

.contentWrapper {
  background-color: #fff;
  min-height: calc(100% + 30px);
  padding: 65px 15px 15px;
  margin: -15px;

  .documentTitle {
    font-size: 4rem !important;
    line-height: 4rem !important;
    margin-bottom: 0 !important;
  }

  .metaData {
    color: $hint;
  }

  .content {
    margin-top: 1.2rem;

    img {
      border: 1px solid $pearl-bush;
      border-radius: 6px;
      overflow: hidden;
      max-width: 100%;
    }

    li:not(:last-of-type) {
      margin-bottom: 1em;
    }
  }
}
