@import "../../style/variables";

.contentWrapper {
  background-color: #fff;
  min-height: calc(100% + 30px);
  padding: 65px 15px 15px;
  margin: -15px;

  :global .header {
    font-size: 4rem !important;
    line-height: 4rem !important;
  }

  .metaData {
    color: $hint;
  }

  .content {
    margin-top: 1.2rem;
  }

  img {
    border: 1px solid $pearl-bush;
    border-radius: 6px;
    overflow: hidden;
  }

  li:not(:last-of-type) {
    margin-bottom: 1em;
  }
}
