{
  "presets": ["@babel/preset-react", "@babel/preset-env"],
  "plugins": [
    ["react-css-modules", {
      "filetypes": {
        ".scss": {
          "syntax": "postcss-scss"
        }
      }
    }]
  ]
}
