.editorWrapper {
  height: calc(100vh - 110px);
  position: sticky;
  top: 95px;
  display: flex;
  flex-direction: column;

  .editorActions {
    display: flex;
    justify-content: space-between;
  }

  .editor {
    margin-top: 1rem;
    width: 100% !important;
    height: 100% !important;
  }

  :global .message {
    position: fixed !important;
    bottom: 15px;
    right: 15px;
  }
}
