.editorWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .editorActions {
    display: flex;
    justify-content: space-between;
  }

  .editor {
    margin-top: 1rem;
    width: 100% !important;
    height: 100% !important;
  }
}
