@import "./variables";

:global {
  body {
    background-color: $light-grey;
    box-sizing: border-box;

    #root {
      min-height: 100vh;
      display: grid;
      grid-template-rows: 80px 1fr;

      header + .app-container {
        padding: 15px;
      }

      a {
        color: inherit;
      }
    }
  }

  .text-bold {
    font-weight: bold;
  }

  code {
    color: #e01e5a;
    background-color: rgba(29, 28, 29, 0.04);
    border: 1px solid rgba(29, 28, 29, 0.13);
    border-radius: 3px;
    padding: 1px 3px;
  }

  .ui.error.floating.message {
    max-height: calc(100vh - 183px);
    overflow-y: auto;
  }
}
